<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="core/head :: head"/>
<div class="container mt-5">
  <table class="table">
    <thead>
    <tr>
      <th> Name </th>
      <th> Role </th>
      <th>  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td><span th:text="${user.username}"> Name </span></td>
      <td><span th:text="${user.roles}"> Role </span></td>
      <td><a th:href="@{/users/{id}(id=${user.id})}">Edit</a> / </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>