<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="core/head :: head"/>
<div class="container mt-5">
  <div class="form-group mt-3">
    <form method="post" th:action="@{/messages}">
      <div class="form-group">
        <input type="text" class="form-control" name="text" placeholder="Введите сообщение" />
      </div>
      <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="tag" placeholder="Тэг">-->
      <!--</div>-->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Messages
    </div>
    <ul th:each="message : ${messages}" class="list-group list-group-flush">
      <li th:text="${message.text}" class="list-group-item"></li>
    </ul>
  </div>

</div>
</body>
</html>